$bg-color: #f6f7f8;
$btn-ypadding: 20px;
$btn-back-color: #e3e7eb;
$btn-back-hover-color: #d6d4d4;
$btn-continue-color: #00a885;
$btn-continue-hover-color: #00a0a0;

@mixin common-button($bg-color, $y-padding, $border-color, $color, $bg-hover-color, $hover-border-color, $hover-color) {
  background-color: $bg-color;
  width: 100%;
  padding-top: $y-padding;
  padding-bottom: $y-padding;
  border: 2px solid $border-color;
  border-radius: 5px;
  color: $color;
  cursor: pointer;
  &:hover {
    background-color: $bg-hover-color;
    border: 2px solid $hover-border-color;
    color: $hover-color;
    text-decoration: none;
  }
}

.btn-back {
  @include common-button(
    $bg-color,
    $btn-ypadding,
    $btn-back-color,
    $btn-back-hover-color,
    $bg-color,
    $btn-back-hover-color,
    $btn-back-hover-color
  );
}

.btn-continue {
  @include common-button(
    $btn-continue-color,
    $btn-ypadding,
    $btn-continue-color,
    white,
    $btn-continue-hover-color,
    $btn-continue-hover-color,
    white
  );
}

