<div class="page6 p-md-5">
  <div class="col py-4">
    <h2 class="font-weight-bold">Você gostaria de colocar mais pessoas no seu plano ?</h2>
  </div>
  <div class="row col-md-12 mt-4 py-2">
    <CustomPlan class="w-100"
      [title]="'Adicionar dependente'"
    ></CustomPlan>
  </div>
  <div class="row col-md-12 py-2">
    <CustomPlan
      class="w-100"
      [title]="'Adicionar dependente'"
    ></CustomPlan>
  </div>
  <div class="row col-md-12 py-2">
    <CustomPlan
      class="w-100"
      [title]="'Marcus Vinicius Cruz de Souza'"
    ></CustomPlan>
  </div>
</div>
<!-- <div class="container px-md-5">
  <Buttons [backPath]="'/page5'" [continuePath]="'/page7'"></Buttons>
</div> -->
