<div class="page4 p-md-5">
  <div class="col py-4">
    <h2 class="font-weight-bold">Vini poderia nos informar como deseja efetuar o pagamento?</h2>
  </div>
  <mat-radio-group
    [(ngModel)]="selected"
  >
    <div class="row col-md-12 no-gutters">
      <div class="col-xl-3 col-md-6 pr-md-3">
        <PaymentCard
          [type]="'far fa-credit-card'"
          [value]="'card'"
          [first]="true"
        ></PaymentCard>
      </div>
      <div class="col-xl-3 col-md-6 pr-md-3">
        <PaymentCard
          [type]="'fab fa-cc-apple-pay'"
          [value]="'g-pay'"
          [first]="false"
        ></PaymentCard>
      </div>
      <div class="col-xl-3 col-md-6 pr-md-3">
        <PaymentCard
          [type]="'fab fa-cc-visa'"
          [value]="'visa'"
          [first]="false"
        ></PaymentCard>
      </div>
      <div class="col-xl-3 col-md-6">
        <PaymentCard
          [type]="'fab fa-cc-mastercard'"
          [value]="'master'"
          [first]="false"
        ></PaymentCard>
      </div>
    </div>
  </mat-radio-group>
  <div *ngIf="selected!='g-pay'">
    <div class="col-md-12 pt-4">
      <div class="no-gutters p-4 div-border-white">
        <div class="col py-3">
          <h3 class="px-md-4">Endereço de cobrança</h3>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <CustomCheckbox
              [label]="'O endereço da fatura e o mesmo do usuário desta conta da Cartão de Todos'"
              [size]="'small'"
            ></CustomCheckbox>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-6 pr-md-2">
            <CustomInput
              [label]="'CEP'"
              [type]="'text'"
              [placeholder]="'CEP'"
            ></CustomInput>
          </div>
          <div class="col-md-6 pl-md-0">
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-6 pr-md-1">
            <CustomInput
              [label]="'Endereço'"
              [type]="'text'"
              [placeholder]="'Endereço'"
            ></CustomInput>
          </div>
          <div class="col-md-3 px-md-2">
            <CustomInput
              [label]="'Número'"
              [type]="'text'"
              [placeholder]="'Número'"
            ></CustomInput>
          </div>
          <div class="col-md-3 pl-md-0">
            <CustomInput
              [label]="'Complemento'"
              [type]="'text'"
              [placeholder]="'Complemento'"
            ></CustomInput>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-6 pr-md-2">
            <CustomInput
              [label]="'Bairro'"
              [type]="'text'"
              [placeholder]="'Bairro'"
            ></CustomInput>
          </div>
          <div class="col-md-6 pl-md-0">
            <CustomInput
              [label]="'Cidade'"
              [type]="'text'"
              [placeholder]="'Cidade'"
            ></CustomInput>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 pt-4">
      <CustomCheckbox
        [label]="'Declaro que li os termos e condições e que estou de acordo com os termos das tarifas e serviços oferecidos pela Cartão de Todos.'"
        [size]="'medium'"
      ></CustomCheckbox>
    </div>
  </div>
  <div *ngIf="selected=='g-pay'">
    <div class="col-md-12 pt-4">
      <div class="no-gutters p-4 div-border-white">
        <div class="col py-3">
          <h3 class="px-md-4">Informações de pagamento</h3>
        </div>
        <div class="row col-md-12 pt-3">
          <div class="col-md-6 pr-md-2">
            <CustomSelect
              [label]="'Instituição'"
              [items$]="institutes$"
            ></CustomSelect>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-6 pr-md-2">
            <CustomInput
              [label]="'UC'"
              [type]="'text'"
              [placeholder]="'UC'"
            ></CustomInput>
          </div>
          <div class="col-md-6 pl-md-0">
            <CustomInput
              [label]="'PN'"
              [type]="'text'"
              [placeholder]="'PN'"
            ></CustomInput>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <CustomCheckbox
              [label]="'Salvar dados do cartão'"
              [size]="'small'"
            ></CustomCheckbox>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 pt-4">
      <CustomCheckbox
        [label]="'Declaro que li os termos e condições e que estou de acordo com os termos das tarifas e serviços oferecidos pela Cartão de Todos.'"
        [size]="'medium'"
      ></CustomCheckbox>
    </div>
  </div>
</div>
