<div class="page8 p-md-5">
  <div class="col py-4">
    <h2 class="font-weight-bold">Vini, temos muitos produtos que podem ser do seu interesse, deseja adquirir algum produto adicional?</h2>
  </div>
  <div class="row col-md-12 mt-4 py-2">
    <CustomProduct
      class="w-100"
      [title]="'Prepara TODOS'"
      [content]="'Mais de 1250 cursos online EAD com certificados reconhecidos e validos em todo Brasil'"
      [price]="'9,99'"
    ></CustomProduct>
  </div>
  <div class="row col-md-12 py-2">
    <CustomProduct
      class="w-100"
      [title]="'Cartão de TODOS Torcedor'"
      [content]="'Ganhe ainda mais descontos e ajude seu time do coração'"
      [price]="'12,00'"
    ></CustomProduct>
  </div>
  <div class="row col-md-12 py-2">
    <CustomProduct
      class="w-100"
      [title]="'WebDental'"
      [content]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry'"
      [price]="'9,00'"
    ></CustomProduct>
  </div>
  <div class="row col-md-12 py-2">
    <CustomProduct
      class="w-100"
      [title]="'Cartão de TODOS Corinthians'"
      [content]="'Desconto em diversos produtos do Corinthians'"
      [price]="'12,00'"
    ></CustomProduct>
  </div>
</div>
  <!-- <div class="container px-md-5">
    <Buttons [backPath]="'/page7'" [continuePath]="'/page9'"></Buttons>
  </div> -->
